<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
  <button class="btn btn-secondary back-button" routerLink="/user-events">
    <i class="bi bi-arrow-left"></i>
  </button>
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div class="mt-3">
                <button class="btn btn-primary">Désactiver comptes</button>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row position-relative">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Khalil mouscou
                <i class="bi bi-pencil pencil-icon"></i>
              </div>
            </div>
            <hr>
            <div class="row position-relative">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                KhalilMouscougmail.com
                <i class="bi bi-pencil pencil-icon"></i>
              </div>
            </div>
            <hr>
            <div class="row position-relative">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                +216-27-454-714 
                <i class="bi bi-pencil pencil-icon"></i>
              </div>
            </div>
            <hr>
            <div class="row position-relative">
              <div class="col-sm-3">
                <h6 class="mb-0">Adress</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Soukra
                <i class="bi bi-pencil pencil-icon"></i>
              </div>
            </div>
            <hr>
            <div class="row position-relative">
              <div class="col-sm-4">
                <h6 class="mb-0">Password</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Mohamedaz123**
                <i class="bi bi-pencil pencil-icon"></i>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>