/* Profile Picture */
.profile-pic{
    display: inline-block;
    vertical-align: middle;
     width: 50px;
     height: 50px;
     overflow: hidden;
    border-radius: 50%;
 }
 
 .profile-pic img{
    width: 100%;
    height: auto;
    object-fit: cover;
 }
 .profile-menu .dropdown-menu {
   right: 0;
   left: unset;
 }
 .profile-menu .fa-fw {
   margin-right: 10px;
 }
 
 .toggle-change::after {
   border-top: 0;
   border-bottom: 0.3em solid;
 }
 #navbarSupportedContent{
  display: flex;
  margin-left: 300px;
  justify-content: space-between;

 }
.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 80px; /* Adjust the spacing as needed */
}

.nav-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}
.navbar-nav .nav-link .fas {
  font-size: 25px; /* Adjust the font size as needed */
}

/*****************************************Body CSS********************************/

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  height: 100vh;
  margin: 0;
  padding-top: 20px; /* Add padding at the top for spacing */
}


.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
  margin: 60px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-header h2 {
  margin: 0;
  font-size: 18px;
}

.cancel-btn {
  background-color: #ff4b4b;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-btn:hover {
  background-color: #ff2c2c;
}

.card-body {
  padding: 16px;
}

.card-body p {
  margin: 8px 0;
}

.card-body p strong {
  display: inline-block;
  width: 80px;
}
